<div>
    <h4>List of Payments</h4>
</div>

<div *ngFor="let payment of payments$ | async; let i=index">
    <table>
        <tr>
            <td>
                <div><span>{{i+1}}.</span> Amount: {{payment.amount}}</div>
            </td>
            <td class="show-card">
                <div class="cc-box">
                    <div #ccBoxFlip class="cc-box--flip">
                        <div class="cc-box__front">
                            <div class="cc-box__logo">
                                <p>{{getCardType(payment.cardNumber) | uppercase}}</p>
                            </div>
                            <div class="cc-box__element">
                                <label class="cc-form__label" for="cc-card-number-display"></label>
                                <input class="cc-form__input cc-form__input--transparent cc-form__input--embosed"
                                    id="cc-card-number-display1" aria-label="Payment card number" disabled="disabled"
                                    [value]="payment.cardNumber | paymentCardNumber">
                            </div>
                            <div class="cc-box__element">
                                <label class="cc-form__label" for="cc-holder-display">CARD HOLDER</label>
                                <input class="cc-form__input cc-form__input--transparent cc-form__input--embosed"
                                    id="cc-holder-display1" aria-label="Card holder" disabled="disabled"
                                    [value]="payment.cardHolder | uppercase">
                            </div>
                            <div class="cc-box__element">
                                <label class="cc-form__label" for="cc-valid-date-display">VALID THRU</label>
                                <input
                                    class="cc-form__input cc-form__input--left-align cc-form__input--transparent cc-form__input--embosed"
                                    id="cc-valid-date-display1" aria-label="Card holder" disabled="disabled"
                                    [value]="payment.expirationMonth + '/' + payment.expirationYear | validThru">
                            </div>
                            <div class="cc-box__chip"></div>
                        </div>
                        <div class="cc-box__back">
                            <div class="cc-box__strip">&nbsp;</div>
                            <div class="cc-box__element">
                                <input class="cc-form__input cc-form__input--cursive cc-form__input--right-align"
                                    id="cc-ccv-display1" aria-label="CCV" disabled="disabled"
                                    [value]="'CCV: ' + payment.ccv" title="CCV">
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>